@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@font-face {
    font-family: 'Sentient-Regular';
    src: url('../fonts/Sentient-Regular.otf') format('opentype');
}

body{
    background-color: #DFDBFE;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../public/background.svg');
    background-size: cover; /* Adjust the background size as needed */
    /* background-repeat: no-repeat; CHANGE BACK TO THIS IF BROKEN */
    background-repeat: round;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
    margin-bottom: 9rem;
}

.post {
    display: flex;
    width: 32.5rem;
    /* min-width: 18.75rem; */
    /* max-width: 32.5rem; */
    padding: 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 1.25rem;
    border: 1px solid #E2E1DE;
    background: rgba(241, 240, 239, 0.50);
    backdrop-filter: blur(5px);
    margin-top: 2rem;
    position: relative;
}

.post-content {
    display: flex;
    padding: 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9375rem;
    align-self: stretch;
    
    border-radius: 0.625rem;
    border: 1px solid #E2E1DE;
    
    background: #FDFDFC;
}

.post-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.post-author {
    color: #21201C;
    text-align: justify;
    font-family: "Inter";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.post-date {
    color: #21201C;
    text-align: justify;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.post-message {
    /* align-self: stretch; */
    color: #21201C;
    text-align: justify;
    font-family: "Sentient";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.post-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.post-tag {
    display: flex;
    padding: 0.3125rem 0.625rem;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #E2E1DE;
    
    background: #FFF;
}

.post-tag > p {
    color: #21201C;

    text-align: justify;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

a{text-decoration: none; color:black;}
/* a:hover{text-decoration: underline;} */

/* 
#wrapper{
    display:flex;    
    width:80em;
    margin:0 auto 2em auto;
}
#wrapper aside{
    background-color: #fff;
    flex:1;
    padding:1em;
    border-radius: 1em;    
}
#wrapper aside img{
    display: block;
    width:50%;
    margin:auto;
}

#wrapper main{
    flex:3;
    padding-left:1em;
    height: 80vh;
    overflow-y:  scroll;
}
#wrapper main article{
    background-color: #fff;
    padding:1em;
    margin-bottom: 1em ;
    border-radius: 1em;
}
#wrapper main article h3{
    margin:0;
    padding:0;
    font-weight: normal;
    font-size:1em;

}
#wrapper main article time{
    float:left;
}
#wrapper main article address{
    text-align: right;
    margin-bottom: 1em;
}
#wrapper main article p{
    margin:0;
}
#wrapper main article footer{
    margin-top: 1em;
    text-align: right;
}
#wrapper main article footer small{
    float:left;
}

#wrapper.admin{flex-direction: row-reverse}
#wrapper.admin aside{flex:1;margin-left:1em;border-radius:0;padding:0;}
#wrapper.admin main{flex:2;background-color: #fff;border-radius: 0;padding:0;}
#wrapper.admin h2{text-align: center;}
#wrapper.admin h3{margin:0;}
#wrapper.admin nav{text-align: right;}
#wrapper.admin article{border:1px solid #ddd;border-radius: 1em;padding:1em;margin:1em;}
#wrapper.admin article p{float:left;margin:0;} */

/* 
.parameters dl dt{float:left;font-weight: bold;line-height: 1.5em;}
.parameters dl dd{margin-left:15em;line-height: 1.5em;}

.contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
}

pre{
    color:#aaa;
}

form dl dt{float:left;font-weight: bold;line-height: 1.5em;}
form dl dd{margin-left:10em;line-height: 1.5em;margin-bottom: 1em}
form dl dd textarea{width:40em;height: 15em;} */
